@import "./base.css";
@tailwind components;
@tailwind utilities;

/* Magic UI Animations */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
  }
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}
